
$rb-app-width:1024px;
$rb-header-height:60px;
$rb-mobile-header-height:40px;
$rb-mobile-screen:767px;
$rb-pad-screen:860px;

$rb-background-color:#fafafa;
$rb-app-background-color:#fafafa;
$rb-app-header-background-color:#393939;
$rb-app-green:#00BF62;
$rb-app-yellow:#F8E71C;
$rb-app-fill-gray:#F1F1F1;
$rb-app-border:#D7D7D7;

$rb-app-pink:#EE3888; //highlight color
$rb-edit-red:#E3102A;//error color
$rb-edit-blue:#4A90E2;  //action color
$rb-profile-border:#E2E2E2;
$rb-input-border: #c6c6c6;
$rb-divider-gray: #CFCFCF;
$rb-component-gray: #979797;

//font size
$rb-font-xlarge:24px;
$rb-font-large:20px;
$rb-font-medium:16px;
$rb-font-regular:14px;
$rb-font-small:12px;
//basic colors
$rb-base-color:black;
$rb-normal-color:rgba(0,0,0,0.87);
$rb-sub-color: rgba(0,0,0,0.8);
$rb-light-color: rgba(0,0,0,0.6);

$rb-hightlight-color:#EE3888;
$rb-action-color: #4a90e2;
$rb-error-color: #e3102a;
$rb-chat-background-color: #FFFFFF;
$rb-chat-date-divider-background: #777;

$rb-weight-bold: 700;
$rb-weight-semi-bold: 700;
$rb-weight-medium: 600;
$rb-weight-regular: 400;
$rb-weight-light: 300;
$rb-weight-extra-light: 100;

$rb-text-light-grey: #7B7B7B;
$rb-text-grey: rgba(57,57,57, 0.8);
