.dating-safety {
  width: 65%;
  .type_1_tw {
    background: url("/app/images/dating_safely_types_tw.png") no-repeat 0% 3%;
    background-size: cover;
    min-height: 380px;
  }
  .type_2_tw {
    background: url("/app/images/dating_safely_types_tw.png") no-repeat 0% 45%;
    background-size: cover;
    min-height: 370px;
  }
  .type_3_tw {
    background: url("/app/images/dating_safely_types_tw.png") no-repeat 0% 87%;
    background-size: cover;
    min-height: 400px;
  }
  .type_1_cn {
    background: url("/app/images/dating_safely_types_cn.png") no-repeat 0% 3%;
    background-size: cover;
    min-height: 380px;
  }
  .type_2_cn {
    background: url("/app/images/dating_safely_types_cn.png") no-repeat 0% 45%;
    background-size: cover;
    min-height: 370px;
  }
  .type_3_cn {
    background: url("/app/images/dating_safely_types_cn.png") no-repeat 0% 87%;
    background-size: cover;
    min-height: 400px;
  }
  .type_1_en {
    background: url("/app/images/dating_safely_types.png") no-repeat 0% 3%;
    background-size: cover;
    min-height: 380px;
  }
  .type_2_en {
    background: url("/app/images/dating_safely_types.png") no-repeat 0% 45%;
    background-size: cover;
    min-height: 370px;
  }
  .type_3_en {
    background: url("/app/images/dating_safely_types.png") no-repeat 0% 87%;
    background-size: cover;
    min-height: 400px;
  }
}