.vip-purchase {
  text-align: center;
  margin: auto;
  width: 740px;
}
.modal-body{
  padding:0px;
}
.vip-purchase_close{
  float: right;
  margin-right: 20px;
}
.up-loader{
  padding:15px;
  position: relative;
  .cropper-slider{
    display: flex;
  }
}
.vip-purchase_form{
  width:740px;
  height: 373px;
  padding: 10px 0;
  text-align: left;
}

//Plan INFO starts
.plan-info_other-pay{
  display: none;
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
  @include isDevice("!mobile") {
    display: block;
  }
}

.plan-info{
  width: 100%;
  float: right;
  padding: 5px 5px;
  text-align: left;
  @include isDevice("!mobile") {
    width: 49%;
  }
}

.plan-info_item{
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
.plan-info_text{
  font-weight: 200;
  float: right;
  color: #EE3888;
}
.plan-info_auto-renew-warning{
  font-size: 12px;
  margin-top: 10px;
  color:#929292;
}
.plan-info_pay-total{
  font-size: 26px;
  margin-top: 12px;
  font-weight: 600;
}

.plan-info_pay-total_text{
  font-weight: 200;
  float: right;
  color: #EE3888;
}

.plan-info_bottom-button{
  width: 100%;
  position: fixed;
  bottom: 10px;
  padding: 0px 18px;
  left: 0;
  right: 0;
  @include isDevice("!mobile") {
    position: initial;
    bottom: 40px;
    padding: auto;
  }
}
.plan-info_success-button{
  @include edit-button(50px,100%,18px,#878787);
  background: #EEEEEE;
  margin-top: 10px;
  border: none;
}

.plan-info_pay-button{
  border: solid 0px $rb-app-pink;
  @include edit-button(50px,100%,18px,white);
  background: $rb-app-pink;
  display: block;

  @include isDevice("!mobile") {
    padding: 0px 20px;
    margin: 10px 0px !important;
    width: 100%;
  }
  .lock{
    float: right;
    padding-right: 20px;
  }
}

//PURCHASE STARTS
.purchase_continue-button{
  border: solid 0px $rb-app-pink;
  @include edit-button(50px,100%,18px,white);
  background: $rb-app-pink;
}
.purchase_continue-button {
  display: block;
  .lock{
    float: right;
    padding-right: 20px;
  }
}

//CARD INFO STARTS
.card {
  width: 100%;
  float: left;
  padding: 5px;
  text-align: left;
  @include isDevice("!mobile") {
    width: 50%;
  }
}
.card_span{
  margin-left: 10px;
}
.card_icons{
  float: right;
}
.card_security{
  width: 70px;
  height: 40px;
  float: right;
  margin-top: 30px;
}

.vip-purchase_divider{
  height: 335px;
  width: 1px;
  float: left;
  border-left: 1px solid #C4C4C4;
  margin-top: 15px;
}

.card_input{
  border: 1px solid #E3102A;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 5px;
}
.card_input_textbox{
  border: 0px;
  height: 36px;
  width: 70%;
  padding-bottom: 5px;
  padding-left: 10px;
}
.card_input_span{
  float: right;
  margin-right: 10px;
  padding-top: 3px;
}
.card_auto-renew{
  margin-top: 25px;
}
.card_terms{
  margin: 0px;
  font-size: 12px;
  color: #666666;
  a{
    color: #888888;
  }
}
.card_terms_label{
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.card_more{
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.card_more_items{
  float: left;
}
.card_more_textbox{
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $rb-component-gray;
  padding-left: 10px;
}
.card_more_input {
  margin-top: 10px;
}
.card_stripe_error {
  color: #dd0000;
  min-height: 20px;
}

.auto_renew_checkbox {
  display: none;
}

label{
  cursor: pointer;
  font-weight: 400;
}
.auto_renew_checkbox + .auto_renew_checkbox_label:before {
  border: 1px solid #c7c7c7;
  content: "\00a0";
  width:15px;
  height:15px;
  border:1px solid #c7c7c7;
  display: inline-block;
  font: 16px/1em sans-serif;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  margin: 2px 8px;
  border-radius: 2px;
}

.auto_renew_checkbox:checked + .auto_renew_checkbox_label:before {
  background: #fff;
  border:1px solid #c7c7c7;
  width:15px;
  height:15px;
  color: #000;
  content: "\2713";
  text-align: center;
  margin: 2px 8px;
  border-radius: 2px;
}
.auto_renew_checkbox:checked + .auto_renew_checkbox_label:after{
  font-weight: bold;
}
.card_diamonds-space{
  height: 25px;
}

//PAID INFO STARTS
.paid {
  width: 100%;
  float: left;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  @include isDevice("!mobile") {
    width: 50%;
  }
}
.paid_vip-indication {
  color: #EE3888;
  font-size: 26px;
  font-family: arial, sans-serif;
}
.paid_span{
  padding-top: 20px;
  display: block;
}
.paid_vip-expire-tip{
  overflow: auto;
}
.paid_vip-expire-value{
  width: 50%;
  float: left;
  text-align: right;
}

.paid_management-info{
  padding-top: 15px;
  font-size: 15px;
}
.paid_management-info_link{
  color: $rb-component-gray;
}
.paid_management-info_item{
  margin-top: 10px;
  font-size: 12px;
  text-decoration: underline;
}
.plan-info_diamonds-space{
  height: 110px;
}
